#blue{

    width: 100px;
    height: 100px;
    background-color: blue;
}

body{

    margin: auto;
    text-align: center;
    background-color: #222;
    text-transform: uppercase;
}

a:hover{

    background-color: blue;
    color: white;


}